/* main.css */

.search-bar-container {
  display: flex;
  width: 800px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #333;
  border-radius: 60px;
  margin: 20px auto;
  max-width: 800px;
}

.region-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin-right: 20px;
  border-right: 1px solid #1e1e1e;
}

.region-selector label {
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: bold;
}

.region-selector select {
  padding: 5px;
  font-size: 20px;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #333;
  border-radius: 4px;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  justify-content: flex-start;
  align-self: flex-start;
  margin-left: 0;
  margin-right: 20px;
}

.search-section label {
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: bold;
}

.search-bar {
  padding: 10px;
  width: 100%;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #333;
  border-radius: 4px;
}

.branding {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  margin-left: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh);
  box-sizing: border-box;
}

.main-contents-left {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner {
  background-color: #333;
  height: 40%;
  padding: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  color: #ffffff;
}

.player-cards {
  background-color: #1e1e1e;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.player-card {
  background-color: #333;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #444;
  text-align: center;
  color: #ffffff;
}
